.pincode-container
{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    background: #ab9;
    padding: 5px;

    .screen-keyboard .screen-keyboard__key_special_backspace
    {
        width: 70px;
        text-align: center;
    }
}
